@font-face {
    font-family: Kirvy;
    src: url(../fonts/kirvy-bold-webfont.woff);
    font-weight:bold;
}

@font-face {
    font-family: Kirvy;
    src: url(../fonts/kirvy-thin-webfont.woff);
    font-weight:lighter;
}

body {
    padding-top: 69px;
    font-family: 'Kirvy', sans-serif;
    font-weight:lighter;
}

.contain-to-grid {
    background:#57050d;
}

.top-bar {
    height:69px;
    background-color: #57050d; /* layer fill content */
    -moz-box-shadow: -2px 3px 40px rgba(24,24,24,.21); /* drop shadow */
    -webkit-box-shadow: -2px 3px 40px rgba(24,24,24,.21); /* drop shadow */
    box-shadow: -2px 3px 40px rgba(24,24,24,.21); /* drop shadow */
}

.top-bar a {
    float: left;
    color:#e88281;
    text-decoration:none;
}

.top-bar a:hover, a.active {
    background-color: #57050d; /* layer fill content */
    -moz-box-shadow: -2px 3px 40px rgba(24,24,24,.21); /* drop shadow */
    -webkit-box-shadow: -2px 3px 40px rgba(24,24,24,.21); /* drop shadow */
    box-shadow: -2px 3px 40px rgba(24,24,24,.21); /* drop shadow */
}

.top-bar .menu-logo {
    height: 0px;
    padding: 12px 20px 57px 20px;
}

.top-bar .menu-item {
    font-size:20px;
    font-weight:lighter;
    padding: 12px 20px;
}

.texture {
    background:#7a121c;
    background-image:url(../img/listra-1.png), url(../img/listra-2.png), url(../img/textura.png);
    background-repeat: no-repeat, no-repeat, repeat;
    background-position: -204px -204px, right -175px top 54px;
    height: 604px;
}

.produtos {
    color:#e88281;
    height: 800px;
    background-position: -204px -204px, right -175px top 250px !important;
}

@media (max-width: 1023px) {
    .texture {
        background-position: -204px -204px, right -175px top 0px;
        height: 454px;
    }
    
    .produtos {
        height: 954px;
        background-position: -204px -204px, right -175px top 404px !important;
    }
    
}

@media (max-width: 767px) {
    .texture {
        background-position: -204px -204px, right -175px top 0px;
        height: 454px;
    }
    
    .produtos {
        height: 1054px;
        background-position: -204px -204px, right -175px top 504px !important;
    }
    
}

@media (max-width: 460px) {
    .texture {
        background-position: -204px -204px, right -225px top 0px;
        height: 454px;
    }
}

.listra-1 {
    height: 500px;

    overflow: visible;
}

h2 {
    margin-top: 32px;

    font-family: Kirvy;
    color:#e88281;
    line-height: 100%;
    font-weight: lighter;
    text-align: justify;
}

.slogan {
    margin-top: 24px;

    font-family: Kirvy;
    color:#e88281;
    font-size: 92px;
    line-height: 100%;
    font-weight: lighter;
    text-align: justify;
}

.description {
    margin-top: 24px;

    font-family: Kirvy;
    color:#e88281;
    font-size: 12px;
    line-height: 300%;
    font-weight: normal;
    text-align: justify;
    width: 183px;
}

.logo-centro {
    margin-top: 100px;
    width: 280px;
    height: 219px;
}

@media only screen and (max-width: 40em) { /* max-width 640px */
    .slogan {
        margin-top: 48px;
        font-size: 70px;
    }

    .logo-centro {
      margin-top: 135px;
      width: 172px !important;
      height: 110px !important;
    }
}

.contact {
    margin-top: 24px;

    font-family: Kirvy;
    color:#e88281;
    font-size: 92px;
    line-height: 100%;
    font-weight: lighter;
    text-align: center;
}

@media only screen and (max-width: 40em) { /* max-width 640px */
    .contact {
        font-size: 80px;
    }
}

.texture-2 {
    background:#7a121c;
    background-image:url(../img/listra-1.png), url(../img/listra-1.png), url(../img/texture-2.png);
    background-repeat: no-repeat, no-repeat, repeat;
    background-position: -346px -204px, right -220px top 444px;
    height: 990px;
}

@media (max-width: 1023px) {
    .texture-2 {
        background-position: -346px -204px, right -346px top 0px;
        height: 987px;
    }
}

@media (max-width: 767px) {
    .texture-2 {
        background-position: -346px -204px, right -346px top 0px;
        height: 987px;
    }
}

@media (max-width: 460px) {
    .texture-2 {
        background-position: -346px -204px, right -346px top 0px;
        height: 917px;
    }
}

form {
    margin-top: 24px;
}

input[type="text"], textarea {
    border: 1px solid #b1c3d4; /* stroke */
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px; /* border radius */
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box; /* prevents bg color from leaking outside the border */
    background-color: #fff; /* layer fill content */
    -moz-box-shadow: inset -1px 1px 4px rgba(103,135,161,.28); /* inner shadow */
    -webkit-box-shadow: inset -1px 1px 4px rgba(103,135,161,.28); /* inner shadow */
    box-shadow: inset -1px 1px 4px rgba(103,135,161,.28); /* inner shadow */
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzEyNDY1YyIgc3RvcC1vcGFjaXR5PSIwLjA0Ii8+CjxzdG9wIG9mZnNldD0iMyUiIHN0b3AtY29sb3I9IiNmZmYiIHN0b3Atb3BhY2l0eT0iMC4wNCIvPgo8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmYiIHN0b3Atb3BhY2l0eT0iMC4wNCIvPgogICA8L2xpbmVhckdyYWRpZW50PgoKPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiIGZpbGw9InVybCgjaGF0MCkiIC8+Cjwvc3ZnPg==); /* gradient overlay */
    background-image: -moz-linear-gradient(bottom, rgba(18,71,92,.04) 0%, rgba(255,255,255,.04) 3%, rgba(255,255,255,.04) 100%); /* gradient overlay */
    background-image: -o-linear-gradient(bottom, rgba(18,71,92,.04) 0%, rgba(255,255,255,.04) 3%, rgba(255,255,255,.04) 100%); /* gradient overlay */
    background-image: -webkit-linear-gradient(bottom, rgba(18,71,92,.04) 0%, rgba(255,255,255,.04) 3%, rgba(255,255,255,.04) 100%); /* gradient overlay */
    background-image: linear-gradient(bottom, rgba(18,71,92,.04) 0%, rgba(255,255,255,.04) 3%, rgba(255,255,255,.04) 100%); /* gradient overlay */
}

textarea {
    line-height: normal;
    height: 144px;
}

button, .button {
    width: 118px;
    padding-top: 15px;
    padding-bottom: 15px;

    background-color: #57050d; /* layer fill content */
    -moz-box-shadow: -2px 3px 40px rgba(24,24,24,.21); /* drop shadow */
    -webkit-box-shadow: -2px 3px 40px rgba(24,24,24,.21); /* drop shadow */
    box-shadow: -2px 3px 40px rgba(24,24,24,.21); /* drop shadow */

    font-size: 20px;
    font-weight: lighter;
    color: #e88281;
}

button, .button:hover, .button:focus{
    background-color: #57050d; /* layer fill content */
    -moz-box-shadow: -2px 3px 40px rgba(24,24,24,.81); /* drop shadow */
    -webkit-box-shadow: -2px 3px 40px rgba(24,24,24,.81); /* drop shadow */
    box-shadow: -2px 3px 40px rgba(24,24,24,.81); /* drop shadow */
}

address {
    font-style: normal;
    text-align: center;
    color: #e88281;
    font-weight: bolder;
    margin-top: 814px;
}

.submit-button-wrapper {
    width: 100%;
    min-height: 10px;
    position: relative;
}

.success {
    background: #57050d; /* layer fill content */


    border-radius: 5px;
	border: 2px solid #000;
	background: #4c4c4c;
	color: #fff;
}

.success p {
    color: #ccb3b7; /* text color */
    font-family: "Kirvy";
    font-weight: lighter;
    text-align: center;
}

/*.success:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border: inset 6px;
    border-color: #57050D transparent transparent transparent;
    border-top-style: solid;
    position: absolute;
    bottom: -12px;
    left: 75px;
    z-index: 99;
}*/
